/* Dark mode colors. */
:root {
   /* Your preferred text font. Starlight uses a system font stack by default. */
   --font-sans: 'Atkinson Hyperlegible';
   /* Your preferred code font. Starlight uses system monospace fonts by default. */
   --font-mono: 'IBM Plex Mono';
   /* Your preferred accent color. Indigo is closest to Starlight’s defaults. */
   --color-accent-50: var(--color-indigo-50);
   --color-accent-100: var(--color-indigo-100);
   --color-accent-200: var(--color-indigo-200);
   --color-accent-300: var(--color-indigo-300);
   --color-accent-400: var(--color-indigo-400);
   --color-accent-500: var(--color-indigo-500);
   --color-accent-600: var(--color-indigo-600);
   --color-accent-700: var(--color-indigo-700);
   --color-accent-800: var(--color-indigo-800);
   --color-accent-900: var(--color-indigo-900);
   --color-accent-950: var(--color-indigo-950);
   /* Your preferred gray scale. Zinc is closest to Starlight’s defaults. */
   --color-gray-50: var(--color-zinc-50);
   --color-gray-100: var(--color-zinc-100);
   --color-gray-200: var(--color-zinc-200);
   --color-gray-300: var(--color-zinc-300);
   --color-gray-400: var(--color-zinc-400);
   --color-gray-500: var(--color-zinc-500);
   --color-gray-600: var(--color-zinc-600);
   --color-gray-700: var(--color-zinc-700);
   --color-gray-800: var(--color-zinc-800);
   --color-gray-900: var(--color-zinc-900);
   --color-gray-950: var(--color-zinc-950);
	
	--sl-color-accent-low: #002932;
	--sl-color-accent: #00778b;
	--sl-color-accent-high: #96d4e4;
	--sl-color-text: #ffffff;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ebeef4;
	--sl-color-gray-2: #bfc2c9;
	--sl-color-gray-3: #868b99;
	--sl-color-gray-4: #535865;
	--sl-color-gray-5: #343844;
	--sl-color-gray-6: #222632;
	--sl-color-black: #16181d;
	--sl-color-yellow: yellow;
	--sl-color-blue: #001dbeb6;
	/* Logo theme variables */
	--logo-main: url('/src/assets/logo/thnd-logo.png');
	--logo-cloud: url('/src/assets/logo/thnd-cloud-logo.png');
	--sl-card-border-1: 2px solid var(--sl-color-gray-5);
	--sl-card-bg: #3700951c;
	/* The additional colors are used for "child" cards (ref. Card.astro) */
	--sl-card-border-2: 1px solid var(--sl-color-orange-low);
	--sl-card-border-3: 1px solid var(--sl-color-yellow);
	--sl-card-border-4: 1px solid var(--sl-color-green-low);
	--sl-card-border-5: 1px solid var(--sl-color-blue-low);
	--sl-card-icon-size: 15em;
}

/* Light mode colors. ...probably not going to use this - also, theme selector is currently overridden.*/
/* :root[data-theme='light'] {
	...
} */

.social-icons::after {
	display: none;
}

@layer base {
	.card {
		border: var(--sl-card-border-1);
		background-color: var(--sl-card-bg);
		padding: clamp(1em, 2em, 1em);
		flex-direction: column;
		gap: clamp(0.1rem, calc(0.125rem + 1vw), 0.1rem);
		border-radius: 1rem;
	}
}